//Textos
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$tertiary-font: 'Catamaran', sans-serif;
$headline: #fffffe;
$paragraph: #94a1b2;

//Botones
$button: #7f5af0;
$button-text: #010101;

//maquetacion
$background: #16161a;
$background-opaque: #16161a80;
$border: #010101;
$highlight: #7f5af0;
$secondary: #72757e;
$tertiary: #2cb67d;
