@use './global.scss' as global;

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: global.$tertiary-font;
	color: global.$paragraph;
}

body {
	height: 100vh;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #000000;
	background-image: linear-gradient(
		43deg,
		#000000 0%,
		#23173f 46%,
		#000000 100%
	);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.inactive {
	display: none;
}
